html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
    width: 90%; 
    max-width: 1200px; 
}

.painting {
    max-width: 40%; 
    height: auto;
}

#canvas-container {
    width: 40%;  /* adjust to prevent it from being too wide */
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    max-width: 100%;
}
